// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


//------------------------------------------------------------------------------
//           Table of Contents
//  0. Import
//  1. Variables
//  2. Basic Layout
//  3. Theorem Styles
//
//
//
//
//  9. Transitions
//
//------------------------------------------------------------------------------






//------------------------------------------------------------------------------
//  0. Import
//------------------------------------------------------------------------------


// According to
// https://developer.mozilla.org/en-US/docs/Web/CSS/%40import
//
//   The @import CSS at-rule is used to import style rules from other style
//   sheets. These rules must precede all other types of rules, except @charset
//   rules
//
// Possible solution is to use `--hoist-atrules` flag.
// See https://github.com/stylus/stylus/issues/1759.
// But setting `'hoist': true` in `.pipe(stylus(...))` does not work.

// So we have to put imports in the `main.styl`



//------------------------------------------------------------------------------
//  1. Variables
//------------------------------------------------------------------------------


// Solarized colors
// https://rawgit.com/smreed/solarized/master/stylus-colors-solarized/style.styl
solarized_base03 = #002b36
solarized_base02 = #073642
solarized_base01 = #586e75
solarized_base00 = #657b83
solarized_base0 = #839496
solarized_base1 = #93a1a1
solarized_base2 = #eee8d5
solarized_base3 = #fdf6e3
solarized_yellow = #b58900
solarized_orange = #cb4b16
solarized_red = #d30101
solarized_magenta = #d33682
solarized_violet = #6c71c4
solarized_blue = #268bd2
solarized_cyan = #2aa198
solarized_green = #859900


// Color related
main_font_color = black

slide_bg_color = solarized_base3
body_bg_color = solarized_base03

slide_title_color = solarized_red
title_slide_title_color = solarized_red
title_slide_subtitle_color = solarized_red

title_slide_author_color = main_font_color
title_slide_data_color = main_font_color


// length related
slide_width = 800px
slide_height = 600px

round_coner_radius = 20px
slide_padding = 25px

block_padding = (slide_padding / 2)

// font related
// Syntax:
//    font: font-style font-variant font-weight font-size/line-height
//          font-family|caption|icon|menu|message-box|small-caption|
//           status-bar|initial|inherit;

main_font_family = 'Roboto', sans-serif
title_font_family = 'Roboto Condensed', sans-serif
slides_title_font = normal 2em title_font_family
title_slide_title_font = normal 3em title_font_family
title_slide_subtitle_font = normal 2.2em title_font_family
title_slide_font = slides_title_font

//------------------------------------------------------------------------------
//  2. Basic Layout
//     (will override base.styl)
//------------------------------------------------------------------------------

.bespoke-parent
    background-color: body_bg_color
    font-family main_font_family
 
  
.bespoke-slide
    background slide_bg_color
    border-radius round_coner_radius
    top 50%
    left 50%
    width slide_width
    height slide_height
    margin-left -(@width / 2)
    margin-top -(@height / 2)
    align-items initial
    justify-content flex-end
    padding slide_padding slide_padding

    
    &:not(#title-slide)
        h1, h2
            font slides_title_font
            margin-top 0
            margin-bottom auto
            color slide_title_color
            
    &#title-slide
        *
            margin initial
            padding initial
        padding-left (slide_width * 0.1)
        padding-bottom (slide_width * 0.1)
        h1, h2
            padding-bottom block_padding
        h1
            color slide_title_color
            font title_slide_title_font
        h2
            color rgba(slide_title_color, .5)
            font title_slide_subtitle_font

// The .ghost-div 's are generated by JavaScript
// to make contents vertically centered

.ghost-div
    visibility: hidden
    margin-top:auto


//------------------------------------------------------------------------------
//  3. Theorem Styles
//------------------------------------------------------------------------------
  
.theorem, .corollary, .definition
    border-radius round_coner_radius
    background-color #f3eaea
    padding block_padding block_padding 0
    margin block_padding
    box-shadow 4px 4px 4px 0px #555
    /* offset-x | offset-y | blur-radius | spread-radius | color */

    h4
        &::first-letter
            text-transform uppercase
        font-size large
        padding (block_padding / 2) block_padding
        margin (- block_padding) (- block_padding) block_padding
        font-variant normal
        
        color white
        border-top-right-radius 15px
        border-top-left-radius 15px
        
        box-shadow 0px 4px 4px 0px #555
        background-color blue
        background linear-gradient(to right, blue, black)

//------------------------------------------------------------------------------        
//  9. Transitions
//------------------------------------------------------------------------------

.bespoke-parent
    perspective: 100vw
    
.bespoke-slide
    transform-style preserve-3d
    transition all .8s ease

.bespoke-parent.coverflow
    transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985)
    
    .bespoke-slide
        &.bespoke-active
            opacity: 1

        offset = (slide_width / 3)
        gap = (slide_width / 20)
        scale = 0.5

        &.bespoke-before
            transform: translateX(((offset * -1) + (gap * -3))) rotateY(45deg) scale(scale)
        
        &.bespoke-before-3
            transform: translateX(((offset * -1) + (gap * -2))) rotateY(45deg) scale(scale)
            opacity: 0.1
        
        &.bespoke-before-2
            transform: translateX(((offset * -1) + (gap * -1))) rotateY(45deg) scale(scale)
            opacity: 0.25

        &.bespoke-before-1
            transform: translateX((offset * -1)) rotateY(45deg) scale(scale)
            opacity: 0.4

        &.bespoke-after
            transform: translateX(((offset * 1) + (gap * 3))) rotateY(-45deg) scale(scale)

        &.bespoke-after-1
            transform: translateX((offset * 1)) rotateY(-45deg) scale(scale)
            opacity: 0.4

        &.bespoke-after-2
            transform: translateX(((offset * 1) + (gap * 1))) rotateY(-45deg) scale(scale)
            opacity: 0.25

        &.bespoke-after-3
            transform: translateX(((offset * 1) + (gap * 2))) rotateY(-45deg) scale(scale)
            opacity: 0.1